@font-face {
  font-family: "Avant Garde Gothic";
  src: url("../fonts/AvantGardeGothicC-Book.otf");
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa-Book.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa-Black.otf");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  font-family: "Nexa", "Avant Garde Gothic", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

input, textarea {
  outline: none;
  line-height: 1.5em;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
}

html, body {
  margin: 0;
  background: #f9f9f9;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 0px 55px;
  max-width: 1225px;
}

.center {
  text-align: center;
}