.overview {
  
}

.overview_container {
  padding: 25px;
}

.overview_container-title {
  font-size: 1.4em;
  font-weight: 600;
  padding: 15px 0;
  display: block;
}

.overview_container-title.main-title {
  text-align: center;
  font-size: 2em;
}

.overview_map-wrapper{
  height: 60vh;
}

.overview .map_dot {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #f0406b;
  pointer-events: none;
  margin-top: -1em;
  margin-left: -1em;
  border-radius: 50%;
  border: 0.5em solid #ffffffed;
  background-clip: padding-box;
  box-shadow: 0px 0px 27px #ffffff;
  animation: fadeInOut 1.5s ease-out;
}

.overview .map_dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  border: 2em solid #ffffffa8;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: puls 1.5s ease-out;
}