.sample-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.sample-product {
  padding: 15px;
  transition: all .125s;
}

.sample-product_image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.sample-product_text {
  line-height: 1.3;
}

.sample-product_text.text-country {
  font-size: .9em;
  color: #4a4a4a;
}

.sample-product_text.text-price {
  text-align: right;
}

.sample-list_more-btn-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .125s;
}

.sample-list_more-btn-text i {
  padding: 0 10px 0 5px;
  transition: all .125s;
}

.sample-product:hover,
.sample-list_more-btn-text:hover {
  background: #e8e8e8;
}

.sample-list_more-btn-text:hover i {
  padding: 0 5px 0 10px;
}